/*
.projects-section {
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: center;
}

.projects-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #0073e6;
}

.project-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #555;
}

.project-card a {
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    background-color: #0073e6;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-card a:hover {
    background-color: #005bb5;
}
    
*/
/*Projects.css*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.fuente-ubuntu {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 1.5rem;
    color: #f0f0f0;
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.project-card .a-pr {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}