/*WhyMe.css*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    /*background-color: #fafafa;*/
    color: #f0f0f0;
    text-align: center;
    min-height: 50vh;
}

.about-section h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #f0f0f0;
}

.about-section p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    width: 80rem;
    margin: 0 auto;
    color: #f0f0f0;
}