/*Footer.css*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

.text-footer {
    font-family: 'Ubuntu', sans-serif;
}

.links-footer {
    text-decoration: 'none';
}
.links-footer:hover{
    text-decoration: 'underline';
}