/* Global Styles */
@import "tailwindcss";
:root {
    --primary-color: #4CAF50;
    --secondary-color: #FF5722;
    --text-color: #333333;
    --font-family: 'Arial', sans-serif;
}

html{
    background-image: url('/static/images/fondoblue.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    min-width: 500px !important;
}

html, body {
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.img {
    max-width: 100%;
    height: auto;
}